language: android

before_script:
  - android update project -p . -n DrawMeFairy -t android-19
  
script:
  - ant debug
  
deploy:
  provider: testfairy
  app-file: draw-me-a-fairy.apk
  keystore-file: certs/debug.keystore
  storepass: android
  alias: androiddebugkey
  metrics: "cpu,memory,logcat"
  on:
    all_branches: true
  api-key:
    "foo"
  
